{% extends 'blank.html' %}

{% block content %}
<!-- ############################################################################## -->
	<h1>Delete Existing Data:</h1>
	<h2>
	<ul>
		<li><a href="{% url 'records:listagentdelete' %}">Delete Agents</a></li>
		<li><a href="{% url 'records:listsuspectdelete' %}">Delete Suspects</a></li>
		<li><a href="{% url 'records:listcrimedelete' %}">Delete Crimes</a></li>
	</ul>
	</h2>
<!-- ############################################################################## -->
{% endblock %}
