{% extends 'blank.html' %}

{% block content %}
<!-- ############################################################################## -->
<h2>EDIT</h2>

{% if agent_list %}
    <table class="table table-hover">
    <tr>
	    <th>Name</th>
    </tr>

    {% for agent in agent_list %}
    </tr>
		<td><a href="{% url 'records:editagent' agent.id %}">{{agent.name}}</td>
	</tr>
    {% endfor %}
    </table>

{% else %}
    <p></p>
{% endif %}

{% if suspect_list %}
    <table class="table table-hover">
    <tr>
	    <th>Name</th>
    </tr>

    {% for suspect in suspect_list %}
    <tr>
		<td><a href="{% url 'records:editsuspect' suspect.id %}">{{suspect.name}}</a></td>
	</tr>
    {% endfor %}
    </table>

{% else %}
    <p></p>
{% endif %}

{% if crime_list %}
    <table class="table table-hover">
    <tr>
	    <th>Classification</th>
	    <th>Time and Date Reported</th>
    </tr>

    {% for crime in crime_list %}
		<tr>
			<td><a href="{% url 'records:editcrime' crime.id %}">{{crime.classification}}</td>
			<td>{{crime.time}}</td></a>
		</tr>
    {% endfor %}
    </table>
{% else %}
    <p></p>
{% endif %}

<!-- ############################################################################## -->
{% endblock %}

<!--  -->
<!-- <table>
	  <tr>
	    <th>Month</th>
	    <th>Savings</th>
	  </tr>
	  <tr>
	    <td>January</td>
	    <td>$100</td>
	  </tr>
	</table> -->