{% extends 'blank.html' %}

{% block content %}
<!-- ############################################################################## -->
	<div class = "container">
		{% if messages %}
		<div class='row'>
			<div class="col-xs-12" style="margin-top: 20px;">
				{% for message in messages %}
				<p{% if message.tags == 'success' %} class="alert alert-success"{% endif %}>{{ message }}</p>
				{% endfor %}
			</div>
		</div>
		{% endif %}
	</div>

	<h1>{{title}}</h1>
	<form method='POST' action = ''> {% csrf_token %}

		{% for field in form %}
		<fieldset class="control-group">
		    <label class="col-sm-2 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
		    <div class="form-group">
		        {{ field }}
		    </div>  
		</fieldset>
		{% endfor %}

	<input style="padding: 5px;" class="btn btn-primary btn-lg" type='submit'>
<!-- ############################################################################## -->
{% endblock %}
