{% extends 'blank.html' %}

{% block content %}
<!-- ############################################################################## -->
{% if form %}
    <div class="row">
    <form id="search-form" method="get" action=".">
      {{ form.as_p }}
      <input type="submit" value="search" />
    </form>
    </div>
{% endif %}

{% if agent_list %}
    <h2>{% if title %}{{title}} dated {{date}}<h3>Investigating officers</h3>{% endif %}</h2>
    <table class="table table-hover">
    <tr>
	    <th>Name</th>
        <th>Police ID</th>
        <th>Current Location</th>
    </tr>

    {% for agent in agent_list %}
    </tr>
		<td><a href="#">{{agent.name}}</a></td>
        <td>{{agent.policeid}}</td>
        <td>{{agent.place}}</td>
	</tr>
    {% endfor %}
    </table>

<a class="btn btn-default" href="{% url 'records:searchagents' %}" role="button">Search Agents</a>
<a class="btn btn-default" href="{% url 'records:searchagentsbyloc' %}" role="button">Filter by Location</a>
{% else %}
    <p></p>
{% endif %}

{% if suspect_list %}
    <table class="table table-hover">
    <tr>
	    <th>Name</th>
        <th>Current Location</th>
    </tr>

    {% for suspect in suspect_list %}
    <tr>
		<td><a href="{% url 'records:viewrecord' suspect.id %}">{{suspect.name}}</a></td>
        <td>{{suspect.place}}</td>
	</tr>
    {% endfor %}
    </table>

<a class="btn btn-default" href="{% url 'records:searchsuspects' %}" role="button">Search Suspects</a>
<a class="btn btn-default" href="{% url 'records:searchsuspectsbyloc' %}" role="button">Filter by Location</a>
{% else %}
    <p></p>
{% endif %}

{% if crime_list %}
    <h2>{% if title %}{{title}}<h1><img src="{{STATIC_URL}}img/convict.png" alt="report image"></h1><h3>Record</h3>{% endif %}</h2>
    <table class="table table-hover">
    <tr>
        <th>Crime ID</th>
	    <th>Classification</th>
	    <th>Time and Date Reported</th>
        <th>Suspect Involved</th>
    </tr>

    {% for crime in crime_list %}
		<tr>
            <td>{{crime.id}}</td>
			<td><a href="{% url 'records:viewagent' crime.id %}">{{crime.classification}}</td>
			<td>{{crime.time}}</td></a>
            <td>{{crime.criminal}}</td>
		</tr>
    {% endfor %}
    </table>

<a class="btn btn-default" href="{% url 'records:searchcrimes' %}" role="button">Search Crimes</a>
<br>
{% else %}
    <p></p>
{% endif %}

{% if is_paginated %}
<div class="pagination">
    <span class="page-links">
        {% if page_obj.has_previous %}
            <a class="btn btn-default" href="?page={{ page_obj.previous_page_number }}" role="button">Previous</a>
        {% endif %}
        <span class="page-current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>
        {% if page_obj.has_next %}
            <a class="btn btn-default" href="?page={{ page_obj.next_page_number }}" role="button">Next</a>
        {% endif %}
    </span>
</div>
{% endif %}

        {% if not is_paginated and paginator and agent_list %}
        <div class="pagination">
            <span class="step-links">
                {% if agent_list.has_previous %}
                    <a href="?query={{query}}&page={{ agent_list.previous_page_number }}">Previous</a>
                {% endif %}

                <span class="current">
                    Page {{ agent_list.number }} of {{ agent_list.paginator.num_pages }}.
                </span>

                {% if agent_list.has_next %}
                    <a href="?query={{query}}&page={{ agent_list.next_page_number }}">Next</a>
                {% endif %}
            </span>
        </div>
        {% endif %}

        {% if not is_paginated and paginator and crime_list %}
        <div class="pagination">
            <span class="step-links">
                {% if crime_list.has_previous %}
                    <a href="?query={{query}}&page={{ crime_list.previous_page_number }}">Previous</a>
                {% endif %}

                <span class="current">
                    Page {{ crime_list.number }} of {{ crime_list.paginator.num_pages }}.
                </span>

                {% if crime_list.has_next %}
                    <a href="?query={{query}}&page={{ crime_list.next_page_number }}">Next</a>
                {% endif %}
            </span>
        </div>
        {% endif %}

<!-- ############################################################################## -->
{% endblock %}