{% extends 'blank.html' %}

{% block content %}
<!-- ############################################################################## -->
{% if agent_list %}
    <table class="table table-hover">
    <tr>
	    <th>Name</th>
        <th>Police ID</th>
        <th>Current Location</th>
    </tr>

    {% for agent in agent_list %}
    </tr>
		<td><a href="#">{{agent.name}}</a></td>
        <td>{{agent.policeid}}</td>
        <td>{{agent.place}}</td>
	</tr>
    {% endfor %}
    </table>

{% else %}
    <p></p>
{% endif %}

{% if suspect_list %}
    <table class="table table-hover">
    <tr>
	    <th>Name</th>
        <th>Current Location</th>
    </tr>

    {% for suspect in suspect_list %}
    <tr>
		<td><a href="#">{{suspect.name}}</a></td>
        <td>{{suspect.place}}</td>
	</tr>
    {% endfor %}
    </table>

{% else %}
    <p></p>
{% endif %}

{% if crime_list %}
    <table class="table table-hover">
    <tr>
	    <th>Classification</th>
	    <th>Time and Date Reported</th>
        <th>Suspect Involved</th>
    </tr>

    {% for crime in crime_list %}
		<tr>
			<td><a href="#">{{crime.classification}}</td>
			<td>{{crime.time}}</td></a>
            <td>{{crime.criminal}} </td>
		</tr>
    {% endfor %}
    </table>
{% else %}
    <p></p>
{% endif %}

<!-- ############################################################################## -->
{% endblock %}